Repository mne-tools/mne-bids, pull requests merged in 2022-09, with the labels that each got.

#1063 MRG: Remove special-casing for NIRS bids-validator
  .github/workflows/unit_tests.yml
  mne_bids/tests/test_write.py
Labels: bids-validator, tests

#1067 Fix chpi write
  doc/whats_new.rst
  mne_bids/tests/test_read.py
  mne_bids/tests/test_write.py
  mne_bids/write.py
Labels: enhancement

#1073 MAINT: Ensure we dont download without permission
  .github/workflows/unit_tests.yml
  mne_bids/commands/tests/test_cli.py
  mne_bids/conftest.py
  mne_bids/tests/data/tiny_bids/code/make_tiny_bids_dataset.py
  mne_bids/tests/test_copyfiles.py
  mne_bids/tests/test_dig.py
  mne_bids/tests/test_inspect.py
  mne_bids/tests/test_path.py
  mne_bids/tests/test_pick.py
  mne_bids/tests/test_read.py
  mne_bids/tests/test_report.py
  mne_bids/tests/test_stats.py
  mne_bids/tests/test_update.py
  mne_bids/tests/test_write.py
  mne_bids/write.py
  setup.cfg
Labels: tests
